/**Estilos de formulario */
.container_fields {
  border: 1px solid #9ba415;
  border-radius: 15px;
  color: #A4A5A6;
}

.container_fields header {
  margin: 0px auto;
  padding: 30px 0px 0px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  color: white;
}

.container_custom_fields {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: #9ba415;
}

.container_custom_fields .js-form-item {
  width: 42.5%;
  margin-bottom: 0px;
}


.container_custom_fields input,
select {
  width: 100%;
  border: 1px solid #A4A5A6;

}

.container_custom_fields select {
  width: 100%;
  border: 1px solid #A4A5A6;
}

.container_custom_fields .button {
  width: auto;
  background-color: #9ba415;
  border: 1px solid;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.container_fields .form-item__description {
  color: #575757;
}

/**Estilos para mensajes de error o exito*/
.container_custom_outpot {
  color: #9ba415;;
  padding-left: 30px;
  width: 100%;
}

.container_custom_outpot .messages__container{
  width: 100%;
  display: block;
}

.container_custom_outpot .messages.messages-list__item {
  background-color: white;
  background-image: none;
  color: #9ba415;
  padding: 0px;
}

.messages__icon{
  display: none;
}

.readonly-date-field {
  cursor: not-allowed;
}

/** Table Styles */
.example_users {
  margin: 0px auto;
  width: 100%;
  padding: 0px;
}

.example_users th {
  padding: 5px;
  color: #9ba415;
  border: 1px solid #9ba415;
}

.example_users table {
  width: 100%;
  border: 1px solid #9ba415;
}

.example_users td{
  padding: 15px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #9ba415;
  border-spacing: 0;
}
